<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/signIn}" method="get">
    <input type="hidden" name="lang" th:value="en">
    <input type="submit" placeholder="en" th:value="en">
</form>
<form th:action="@{/signIn}" method="get">
    <input type="hidden" name="lang" th:value="ru" >
    <input type="submit" placeholder="ru" th:value="ru">
</form>
<form th:action="@{/signIn}" method="post">
    <label th:text="userName"></label><br>
    <input type="text" name="username" placeholder="username"><br>
    <label th:text="password">password:</label><br>
    <input type="password" name="password"><br>
    <label th:text="rememberMe"></label>
    <input type="checkbox" name="remember-me"/><br>
    <label th:text="submit"></label>
    <input type="submit" th:value="signIn"><br>
</form>
<a href="/signUp" th:text="signUp"></a>
</body>
</html>